/*HTML*/
html
{
    max-width: auto;
    max-height: 2000vh;
    background-image: url(/web_design/tiles.png);
    background-repeat: repeat;
}


/*Body*/
body
{
    
    min-height: max-content;
    background-color: var(--bg-color);
    height: 200vh;
    margin: 0;
}

html, body{overflow-x: hidden;}

.top-nav
{
    width: 100%;
    max-height: fit-content;
    float: left;
    overflow: hidden;
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.header
{
    width: 19%;
    height: max-content;
    padding-left: 20px;
}

.nav
{
    max-height: fit-content;
}

.sidebar
{

    border-left: 1px #afab76 solid;
    border-right: 1px #afab76 solid;
    border-top: 1px #666448 solid;
    border-bottom: 1px #fffdda solid;
    border-radius: 0 50px 0 0;
    width: 300px;
    background-color: aliceblue;
    height: 89px;
}
