.bookshelf
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: peachpuff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    box-shadow: 15px 15px #170607;
}
.stories
{
    padding-left: 10px;
    text-decoration: 2px underline wavy #CB4154;
}
.book
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    border-left: none;
    
}


.book:hover
{
    background-color: #CB4154;
}

.book_img
{
    width: 130px;
    height: 130px;
    float: left;
    border: 1px solid black;
    image-rendering: pixelated;
}


summary
{
    background-color: orange;
    color: black;
    padding-left: 10px;
    margin: 0;
    text-shadow: 0 0 3px #6d0000;
}


details > .sum
{
    margin: 0;
    background-color: orange;
    padding: 5px;
    border: 1px solid black;
    box-shadow: -10px 10px;
}

.msg
{
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;

    animation-name: textBlink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes textBlink
{
    0%{text-shadow: 0 0 4px #6d0000;}
    25%{text-shadow: 0 0 4px #0004ff;}
    50%{text-shadow: 0 0 4px #ff7300;}
    100%{text-shadow: 0 0 4px #6d0000;}
}

.punct
{
    text-decoration: underline wavy 2px #CB4154;
    padding-left: 8px;
    width: fit-content;
    height: 23px;
}

.punctHeader{grid-area: header;}
.punctIndex{grid-area: main;}
.indexContainer
{
    border-radius: 0 0 10px 10px;
    background-color: orange;
}

.indexContainer
{
    border: 1px solid black;
}

.punctIndex
{
    display: grid;
    grid-template-columns: 470px 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas: 
    'main main '
    'main main '
    'main main '
    'main main '
    'main main ';
    justify-items: center;
    
}

.punctClass
{
    width: 90%;
    margin: 15px;
    padding-left: 1px;
}

.punctTitle
{
    text-decoration: underline 1px solid black;
}