#store {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
    overflow: scroll;
    
}

.product {
    text-align: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    width: 200px;
    height: 200px;
}

.product:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.0em;
    background-color: #eee;
}

.product-price {
    color: #ff6600;
    font-size: 1em;
    margin-bottom: 15px;
}

#store
{
    height: 250px;
    border-top: 1px solid;
}