

/*Grid*/
.header{grid-area: header;}
.photo{grid-area: photo;}
.main{grid-area: main;}
.right{grid-area: right;}
.aside{grid-area: aside;}
.footer{grid-area: footer;}
.nav{grid-area: nav;}

.container
{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'main main main right'
    'footer footer footer footer';
    grid-gap: 20px;
    
/*#FFAE42, ffe2b2, ffcd55, ffd485*/
    width: 75.2%;
    height: auto;
    border: 1px white solid;

    background-color: ivory;

}

/*
.container > .main,
.container > .footer,
.container > .right,
.container > .header,
.container > .nav
{
    border: 3px solid;
}
*/
.container > .main,
.container > .sidebar,
.container > .footer
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container > .header
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
}


/*Grid Margins*/
.container > .right,
.container > .sidebar,
.container > .footer
{
    margin-right: 20px;
}


.container > .footer,
.container > .header,
.container > .sidebar,
.container > .nav
{
    margin-top: 20px;
}

.container > .header,
.container > .main,
.container > .footer
{
    margin-left: 20px;
}

.container > .footer
{
    margin-bottom: 20px;
}

.container
{
    justify-self: center;
}
.container > .main,
.container > .right
{
    margin-top: 30px;
}

/*Sidebar Grid*/


.right
{
    grid-area: right;
    justify-self: center;
}

.main
{
    grid-area: main;
}



.footer
{
    grid-area: footer;
}

@media(max-width: 768px)
{
    .container
    {
      grid-template-columns: 1fr;
      grid-template-areas: 
        'header'
        'main'
        'sidebar'
        'right'
        'footer';
    }
}

@media(max-width: 768px)
{
    .container > * 
    {
        margin: 2vw;
    }
}

@media(max-width: 768px)
{
    .sidebar
    {
        flex-direction: column;
        gap: 20px;
    }
}