/*.container
{
    background-image:
    url(/web_design/container_gif.gif), 
    url(/web_design/container_bg.png);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}*/


.title
{
    font-size: 20px;
    padding: 5px;
}


/*Header*/


/*Main*/
.main_Container_1
{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    text-align: left;
    width: 88%;
    height: 20%;
    border: 40px solid transparent;
    border-image: url(/ICONS/border_image.png) 40 round;
    image-rendering: pixelated;
    overflow-y: scroll;
    resize: vertical;
    justify-self: center;
}


.main_Container_2
{
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.main_Container_3
{
    position: relative;
    padding-top: 10px;
    text-align: left;
}

.main_Container_2, .main_canvas, .main_Container_3
{
    margin-top: 30px;
    
}

.main_canvas
{
    border: 2px #FF0090 solid;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

#msgBoard
{
    text-align: center;
    margin-top: 5px;
    display: block;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(179, 218, 255, 0.8);
    border-radius: 30px 30px 0 0 ;

    justify-self: center;
}

#New
{
    padding: 15px;
    width: 93%;
    margin: 10px;
    border-radius: 30px 30px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(179, 218, 255, 0.8);
}

#home, #news
{
    height: 200px;

}

.inborder
{
    
    height: 480px;
}

#interactive
{
    justify-self: center;
}

/*Right*/



#right_canvas
{
    width: 100%;
    height: 100%;
    display: block;
}

.tv
{   
    width: 360px;
    height: 280px;
    border: 1px solid;

    animation: crtFlicker 0.15s infinite;
}

.tv::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(to bottom,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 2px,
    transparent 4px
    );
    z-index: 2;
}

/*@keyframes crtFlicker
{
    0% {filter: brightness(1);}
    50% {filter: brightness(0.95);}
    100% {filter: brightness(1);}
}*/

.season
{
    width: 372px; 
    height: 100px;  
}

.cursive
{
    font-family: "Press Start 2P", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.cursive
{
    padding-left: 15px;
}

.center
{
    text-align: center;
}

.image
{
    border: 1px solid;
    max-width: fit-content;
    max-height: fit-content;

    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 5px 15px rgb(23, 6, 7);
    background-color: #C7A575;
}

details > .ani_desc
{
    cursor: none;
    background-color: rgb(245, 210, 165);
    box-shadow: 1px 1px 2px;
    padding-left: 8px;
}
details > .animation
{
    background-color: rgb(245, 210, 165);
    padding: 5px;
}

.window
{
    display: grid;
    grid-row: auto;

    border: 1px solid;
    margin-top: 25px;
    box-shadow: 5px 15px #170607;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #C7A575;
    max-width: 400px;
}

#link
{
    width: 330px;
    padding: 15px;
    background-color: aliceblue;
    text-align: center;
}

.custom
{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    background-color: aliceblue;
    padding: 15px;
}
/*Aside*/

.news
{
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 2px solid;
}
#news
{
    overflow: hidden;
    overflow: scroll;
    width: 10%;
}

#text
{
    font-family: monospace;
    font-size: medium;
}



