body
{
    display: grid;
    margin: 0;
    background-color: black;
}
.title_2
{
    text-align: center;
}
.main
{
    display: grid;
    justify-content: center;
}
.bubble
{
    margin-right: 20px;
    margin-bottom: 5px;
}


.hr0
{
    justify-content: center;
    width: 80%;
}

#interactive
{
    justify-self: center;
}