/*HTML*/
html
{
    background-color: rgb(0, 0, 0);
    max-width: 1600vh;
    max-height: 1600vh;
}


/*Body*/
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    height: 200vh;

    background-image: url(/web_design/tiles.png);
    background-repeat: repeat;
}
