.icon
{
    float: left;
}
.logo
{
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.page
{
    display: inline-block;
    text-align: center;
    transition: 0.1s ease-in-out;
    background-color: ivory;
    border-bottom: 3px solid rgb(175, 175, 130);
    height: 80%;
}

.page:hover
{
    transform: translateY(-10%);
    cursor: pointer;
    color: midnightblue;
    background-color:darksalmon;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
    border-bottom: solid rgb(180, 81, 48);
    height: 80%;
}

/*Cursor*/
.cursor-tail
{
    position: absolute;
    pointer-events: none;
    transform: translate(50%, 80%);
}